/*@keyframes title {
    0% {color:gray}
    100% {color: black}
}

@keyframes navBar {
    0% {width:0px;background:black;}
    100% {width:400px;background:darkgray;}
}

@keyframes header {
    0% {background: black;}
    100% {background:rgb(53, 53, 53); }
}*/

.header {
    display:grid;
    grid-template-columns: 100px 400px auto 80px 1px 80px 1px 80px 1px 100px;
    grid-template-rows:5px 50px 5px 5px 30px 30px; 
    background:rgb(53, 53, 53)	;
    z-index: -2;
    margin-left: 100px;
    margin-right: 100px;
    animation: header 8s 1 forwards;
}

.navBar {
    grid-row:4;
    grid-column-start: 2;
    animation: navBar 8s  1 forwards;
    }
    
#line1 {
    grid-column-start:5;
    grid-column-end: 6;
    grid-row-start:4;
    grid-row-end:5;
    background:black;
    z-index: 3;
    margin-top:3px;
    margin-bottom: 3px;
}

#line2 {
    grid-column-start:7;
    grid-column-end: 8;
    grid-row-start:4;
    grid-row-end:5;
    background: black;
   z-index: 3;
    margin-bottom: 3px;
    margin-top:3px;
}

#contactMe {
    color:black	;
    font-family:  'Cinzel', serif;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:4;
    padding-right:10px;
    text-align:center;
    font-size: 60px;
    animation:title 8s 1 forwards;
}

#name {
    color:black	;
    font-family:  'Cinzel', serif;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:4;
    padding-right:10px;
    text-align:center;
    font-size: 60px;
    animation:title 8s 1 forwards;
}

#about {
    background:unset;
    color: black;
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:4;
    grid-row-end:5;
    padding:unset;
    text-align:center;
    z-index: 3;
    padding-left:20px;
    padding-top:6px;
    ;
}

#portfolio {
    background:unset;
    color: black;
    grid-column-start:5;
    grid-column-end:6;
    grid-row-start:4;
    grid-row-end:5;
    padding-left:15px;
    padding-top:6px;    
    z-index: 3;
    
}

#contact {
    
    color: black;
    grid-column-start:7;
    grid-column-end:8;
    grid-row-start:4;
    grid-row-end:5;
    padding-top:6px;
    padding-left:20px;
    text-align:center;
    z-index: 3;
   
}

html {
    background: #272727	;
    font-family: "dosis";
    z-index: -99999999;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    background-color: black;
}


/*about page specific css */
#bioPic {
    width: 300px;
    height: auto;
    grid-row-start:3;
    grid-column-start:2;
}

#body {
    display:grid;
    grid-template-columns: 200px 300px auto;
    grid-template-rows:30px 2px 30px 3px 10px 30px 30px 30px 3px 10px 30px 30px 30px 3px 10px 100px; 
    color:#EFF7CF;
}

#aboutMeTitle {
    grid-column-start: 4;
    grid-row-start: 3;
    color:#ABA361
}

#aboutMeContent {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
}

#bodyLine {
    grid-row-start: 2;
    grid-column-end:4;
    grid-column-start: 1;
    background:#420C14;
}

#nameLine {
    grid-row-start: 4;
    grid-column-end:3;
    grid-column-start: 2;
    background:black;
}

#emailLine {
    grid-row-start: 9;
    grid-column-end:3;
    grid-column-start: 2;
    background:black;
}

#messageLine {
    grid-row-start: 14;
    grid-column-end:3;
    grid-column-start: 2;
    background:black;
}

#inputName {
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:6;

}

#inputEmail {
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:11;
}

#inputMessage {
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:16;
}

#name {
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start:3;
    z-index: 1;
    font-size:30px;
}

#email {
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:8;
    z-index: 1;
    font-size:30px;
    font-family:  'Cinzel', serif;
    color:black;

}

#message {
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:13;
    z-index: 1;
    font-size:30px;
    font-family:  'Cinzel', serif;
    color:black
}

#bioPic {
    width: 300px;
    height: auto;
    grid-row-start: 2;
    grid-column-start: 4;
}